.usecase {
    width: 100%;
    background: #001219;
}

.use-heading-box {
    padding: 3rem 6rem;
    font-size: 5rem;
    text-align: center;
    color: #fff;
}

.card-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 6rem;
}

.card {
    width: 55rem;
    padding: 4rem 2rem;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;
}

.card-image {
    width: 30rem;
    height: 30rem;
    background-color: red;
}

.card-heading {
    font-size: 4rem;
}

.card-para {
    font-size: 2rem;
    color: gray;
    text-align: justify;
}

@media screen and (max-width: 480px) {
    .card-box {
        width: 84%;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}